{% extends "base.html" %}

{% block title %}
    Delete
{% endblock %}

{% block content %}
    <h1>Article Delete</h1>
    <div>
        <span>
            <a href="{% url "list" %}">Articles</a>
        </span>/
        <span>Article Delete</span>
    </div>

<h2>Are you sure to delete "{{ obj.title }}?"</h2>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Delete</button>
        <a class="btn btn-primary" href="{% url "list" %}">No, thanks </a>
    </form>
{% endblock %}

